header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

nav a:active {
    color: #088C19;
}

body {
   
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    background: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    text-align: center;    
    vertical-align: top;
    margin: 0 auto;
    padding: 50px 0;
}

.titulo-centralizado {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

p {
    font-size: 15px;
    text-align: center
}

#missao {
    font-size: 25px
}

em strong{
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}